*{
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.table_wrapper{
  display: flex;
  text-decoration: none;
  border-collapse:collapse;
  width:50%;
  text-align:left;
}

.table_wrapper th{
  font-weight:normal;
  font-size:16px; 
  color:#ffffff;
  background-color:#348f00;}
.table_wrapper td{
  font-size:14px;
  color:#000000;
}
.table_wrapper td,.table_wrapper th{
  white-space:pre-wrap;
  padding:10px 10px;
  line-height:5px;
  vertical-align: middle;
  border: 1px solid #348f00;
}
.table_wrapper tr:hover{
  background-color:#f9fafb
}
.table_wrapper tr:hover td{
  color:#354251;cursor:default;
} 

form{
  width: 35%;
  display: flex;
  margin: 0 auto;
  align-items: inherit;
  flex-direction: column;
}
.products_product_stars{
  margin: 10px 0;
  
}
.phone-field, .comment-field {
  margin-bottom: 1rem;
}
/* стили для label */
.phone-field__label, .comment-field__label {
  display: block;
  margin-bottom: 0.25rem;
}
/* стили для input */
.phone-field__input, .comment-field__input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.comment-field__input {
  height: 200px;
}
